{% extends 'base.html' %}

{% block title %}Backsplice - Course Catalog{% endblock %}

{% block nav %}
<ul>
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'create_paperwork' %}">Create Paperwork</a></li>
<li><a href="{% url 'scouts' %}">Scouts</a></li>
<li><a href="{% url 'course_catalog' %}">Course Catalog</a></li>
<li><a href="{% url 'instructors' %}">Instructors</a></li>
<li><a href="{% url 'pending_requests' %}">Pending Requests</a></li>
</ul>
{% endblock %}

{% block content %}
<h1>Course Catalog</h1>

{% csrf_token %}
{% if course_catalog %}
    <ul id='catalog'>
        {% for course in course_catalog %}
            <li>{{ course }}</li>
        {% endfor %}
    </ul>
{% else %}
    <span id='message'>The Course Catalog does not contain any courses.</span>
{% endif %}

<a id='edit' href="{% url 'edit_course_catalog' %}">Edit</a>
<a id='import' href="{% url 'import_course_catalog' %}">Import</a>

{% endblock %}
