{% extends 'base.html' %}

{% block title %}Backsplice - Import Courses{% endblock %}

{% block nav %}
<ul>
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'create_paperwork' %}">Create Paperwork</a></li>
<li><a href="{% url 'scouts' %}">Scouts</a></li>
<li><a href="{% url 'course_catalog' %}">Course Catalog</a></li>
<li><a href="{% url 'instructors' %}">Instructors</a></li>
<li><a href="{% url 'pending_requests' %}">Pending Requests</a></li>
</ul>
{% endblock %}

{% block content %}
<h1>Course Catalog</h1>

<form action="" method="post">
    {% csrf_token %}
    {% if course_catalog %}
        <ul>
            {% for course in course_catalog %}
                <li>{{ course }}</li>
            {% endfor %}
        </ul>
    {% else %}
        The Course Catalog does not contain any courses.
    {% endif %}
    <input type="submit" value="Edit" name="edit" />
    <input type="submit" value="Import" name="import" />
</form>
{% endblock %}
