{% extends 'base.html' %}

{% block title %}Backsplice - Edit Course Catalog{% endblock %}

{% block nav %}
<ul>
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'create_paperwork' %}">Create Paperwork</a></li>
<li><a href="{% url 'scouts' %}">Scouts</a></li>
<li><a href="{% url 'course_catalog' %}">Course Catalog</a></li>
<li><a href="{% url 'instructors' %}">Instructors</a></li>
<li><a href="{% url 'pending_requests' %}">Pending Requests</a></li>
</ul>
{% endblock %}

{% block content %}
<h1>Edit Course Catalog</h1>

<form action="" method="post">
    {% csrf_token %}
    <div>
        <label for="new-course">Course: </label>
        <input type="text" name="course">
    </div>
    <div>
        <label for="new-course">Period: </label>
        <input type="text" name="course-period">
     </div>
    <input type="submit" value="Add" name="add" /> 
</form>

<form action="" method="post">
    {% csrf_token %}
    {% if course_catalog %}
        {% for course in course_catalog %}
            <div>
                <input type="text" value="{{course.name}}" name="n{{course.id}}"/>
                <input type="text" value="{{course.period}}" name="p{{course.id}}"/>
            </div>
        {% endfor %}
    {% else %}
        The Course Catalog does not contain any courses.
    {% endif %}
    <input type="submit" value="Save" name="save-edit"/>
</form>
{% endblock %}
