{% extends 'base.html' %}

{% block title %}Backsplice - Import Courses{% endblock %}

{% block nav %}
<ul>
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'create_paperwork' %}">Create Paperwork</a></li>
<li><a href="{% url 'scouts' %}">Scouts</a></li>
<li><a href="{% url 'course_catalog' %}">Course Catalog</a></li>
<li><a href="{% url 'instructors' %}">Instructors</a></li>
<li><a href="{% url 'pending_requests' %}">Pending Requests</a></li>
</ul>
{% endblock %}

{% block content %}
<h1>Import Courses</h1>
<div>{{ error_message }}</div>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Upload" name="upload" />
</form>
{% endblock %}
